

.thumbnail {
  width: 100%;

}
.thumbnail:hover {
  filter: brightness(50%);
  transition: 1s;
}



.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic {
  width: 36px;
  border-radius: 70px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-views {
  font-size: 13px;
  color: gray;
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

.video-time {
  font-family: Arial;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;

}
a {
  color: black;
}

a:link {
  text-decoration: none;
}